.connect-div{
    /* margin-left: 20%;
    margin-left: 10%;
    margin-top: 4%; */
    /* background-color: rgb(253 251 251); */
    padding-top: 14px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #d3d7de;
    border-top: 1px solid #d3d7de;
    border-left: 1px solid #d3d7de;
    border-right: 1px solid #d3d7de; */
}